
body{
margin: 0;
font-family: "Aclonica", sans-serif;
    font-weight: 400;
    font-style: normal;
}
body a{
    text-decoration:none;
    color: #000;
}
header{
display: flex;
width: 100%;
flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    border-bottom: #ffffff 2px groove;
    backdrop-filter: blur(10px);
    z-index: 100;
}
header img{
    margin-left: 5px;
width: 80px;
height: 80px;
padding: 5px;
}
nav{
display: flex;
justify-content: space-around;
align-items: center;

}
nav ul{
list-style: none;
display: flex;

}
nav ul a li{
    margin: 0px 10px 0px 10px;
    font-size: 18px;
    font-weight: 600;
    color: #999999;
}
body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -100;
    transition: 1s opacity;
}
.contenedor-body{
   width: 100%;
background-color: #ffffff;
opacity: 0.9;
backdrop-filter: blur(5px);
}
.contenedor-body h1{
    font-size: 50px;
    color: #000000;
    text-align: center;
    margin-top: 0px;
}
.contenedor-body p{
    font-size: 20px;
    color: #000000;
    text-align: center;
    margin-top: 20px;
}
footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 75px;
    border-top: #ffffff 2px groove;
    backdrop-filter: blur(10px);
    z-index: 100;
}
footer h3{
    font-size: 30px;
    color: #fff;
}
.color-iconos{
    color: #999;
    font-size: 25px;
}

.color-iconos:hover{
    color: #fff;
    transition: .5s;
}
.hover-troll:hover{
 scale: 1.1;
 rotate: 360deg;
 transition: .5s;
}
.hover-logo-inicio:hover{
    color: #fff;
    transition: .5s;
}
.texto-footer{
    color: #fff;
    font-size: 20px;
border-left: #fff 2px groove;
}
#contenido{
display: none;
}
#contenido2{
display: none;
}

